<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.9.0/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="h-screen flex flex-col justify-center items-center bg-sky-500">
    <div class="w-[55rem] grid grid-cols-2 gap-2 shadow p-2 rounded-lg bg-white">
        <a href="/services" class="btn btn-neutral">Servies Page</a>
        <a href="/vehicles" class="btn btn-neutral">Vehicles Page</a>
        <a href="/appointments" class="btn btn-neutral">Appointment Page</a>
        <a href="/tracking" class="btn btn-neutral">Tracking Page</a>
        <a href="/admin" class="btn btn-neutral col-span-2">Admin Page</a>
    </div>
  </body>
</html>
