<!DOCTYPE html>
<html lang="fa" dir="rtl" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>رزرو خدمات خودرو</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.9.0/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="h-screen flex flex-col justify-center items-center bg-sky-500">
    <div class="w-[55rem] shadow p-2 rounded-lg bg-white">
      <h2 class="text-3xl font-bold text-center">پیگیری رزرو</h2>
      <form action="/tracking" method="POST" class="flex flex-col space-y-4">
        <div class="form-group">
          <label for="tracking_code">کد رهگیری:</label>
          <input type="text" id="tracking_code" name="tracking_code" class="input input-bordered w-full" required />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-neutral w-full">پیگیری</button>
        </div>
      </form>
      <div class="result">
        {% if reservation %}
            <p>اطلاعات رزرو:</p>
            <p>نام و نام خانوادگی: {{ reservation.full_name }}</p>
            <p>شماره تماس: {{ reservation.phone_number }}</p>
            <p>برند خودرو: {{ reservation.vehicle.model }}</p>
            <p>سال ساخت خودرو: {{ reservation.vehicle.year }}</p>
            <p>کد گارانتی: {{ reservation.warranty_code }}</p>
            <p>شرح خدمات: {{ reservation.service_description }}</p>
        {% endif %}
        {{ error }}
      </div>
    </div>
  </body>
</html>
