<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.9.0/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="h-screen flex flex-col justify-center items-center bg-sky-500">
    <div class="w-[55rem] shadow p-2 rounded-lg bg-white">
        <table class="table">
            <thead>
                <tr>
                    <th>model</th>
                    <th>year</th>
                </tr>
            </thead>
            <tbody>
                {% for vehicle in vehicles %}
                <tr>
                    <td>{{ vehicle.model }}</td>
                    <td>{{ vehicle.year }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </body>
</html>
